$unit: 12px;

$white: #fff;
$black: #000;

// from baddeo.com v1
$green: #7fbf42;
$dark-green: #00733f;
$blue: #0095D7;
$twitter-blue: #55acee;
$dark-blue: #00334c;
$pale-yellow: #fdeeca;
$purple: #52283b;
$orange: #ff8036;
$ochre: #a55c43;

$icons-color: $white;
$bg-color: #FCF7E7;