@import "filters";

/* GRID */

	.grid
	{
		padding: 0;
		margin: 0 auto;
		border: none;

		// height: 100%;
		// width: 100%; 
		max-width: 960px;

		list-style: none;

		li
		{
			/* 3 columns */
			width: 33.333333%; 
			height: 33.333333%; // do we need this?

			&.double-square
			{
				width: 66.66666%;
				height: 66.66666%; // do we need this?
			}

			&.double-landscape
			{
				width: 66.66666%;
				
				figure 
				{ 
					width: 50%; 
					float: right;
				}

				.content
				{
					float: left;
					width: 50%;

					// arrow pointing right
					&:after
					{
						content: ' ';
						border: $unit solid transparent;
						border-left: $unit*1.5 solid $bg-color;
						left: 100%;
						top: 46%;
						width: 0;
						height: 0;
						position: absolute;
						z-index: 1000;
					}
				}
			}

			&.double-portrait
			{
				// height: 66.66666%;

				.content
				{
					position: relative;
					height: 0;
					padding: 0;
					padding-bottom: 100%;
					width: 100%;

					.text
					{
						padding: 1.25em 1em;
					}

					.date-time
					{
						left: 2em;
					}
					
					// arrow pointing up
					&:before
					{
						content: ' ';
						border: $unit solid transparent;
						border-bottom: $unit*1.5 solid $bg-color;
						bottom: 100%;
						left: 46%;
						width: 0;
						height: 0;
						position: absolute;
						z-index: 1000;
					}
				}
			}

			// min-height: 320px;
			
			float: left;
			position: relative;
			overflow: hidden;

			figure
			{
			}

			img
			{
				@extend .animated-fast;

				width: 100%;
				vertical-align: text-bottom;
				vertical-align: text-top;
				vertical-align: middle;
			}

			/* 
				div.content
				{
					@extend .animated-fast;

					position: absolute;
					bottom: -200%;
					// bottom: 0;

					color: $white;
					// padding: $unit;
					width: 100%;

					div
					{
						margin-bottom: $unit;

						&:last-child
						{
							margin-bottom: 0;
						}
					}
				}

				&:hover
				{
					// img
					// {
					// 	@include cross-browser-grayscale(1, 1.8);

					// 	transform: scale(1.05);
					// 	opacity: 0.3;
					// }

					div.content
					{
						bottom: 0;
						// opacity: 1;
					}
				} 
			*/
		}
	}

	@media (max-width: 640px)
	{
		.grid li
		{
			width: 50%; // 2 columns
		}	
	}

	@media (max-width: 320px)
	{
		.grid li
		{
			width: 100%; // 1 column
		}	
	}