@import "config";
@import "reset";
@import "font-awesome";
@import "seo";
@import "filters";
// @import "grid"; // old grid
@import "grid-mobile"; // mobile first
@import "nav";
@import "typography";
@import "animation";


// TEMP 

	body
	{
		// background-image: url('http://baddeo.com/stylesheets/images/body_background.png');
		background-color: $bg-color;
		color: $dark-blue;
	}

/* CONTENT */
	
	/* 
		four content types:
		* about
		* article
		* journal
		* tweet

		each one can have a figure
		<figure>
			<img>
		</figure>
		
		and a .content
		<div class="content">
			<div class="text"><div>
			<div class="date-time"><div>
		</div>		
	*/
	.video
	{
		a
		{
			width: 100%;
			height: 100%;
			display: block;
			border: none;
		}

		&:after
		{
			@extend .fa;
			@extend .fa-5x;

			content: '\f04b' !important;

			width: 100%;
			text-align: center;
			position: absolute;
			top: 0;
			bottom: 0;
			padding-top: 42%;
			color: $icons-color;
			opacity: 0.6;

			pointer-events: none;
		}
	}

	.about
	{
		background: $purple;

		.content
		{

		}

		figure 
		{ 
			img
			{
				@include cross-browser-grayscale(1, 1.8);
			}

			&:after
			{
				background: $purple;
				opacity: 0.8;
			}	 
		}

		&:hover
		{
			img
			{
				@include cross-browser-grayscale(0, 1);
			}

			figure:after
			{
				opacity: 0;
			}
		}
	} 

	.article
	{
		background-color: $green;

		.content
		{
			.cta
			{
				a:hover
				{
					// background: $green;
				}
			}

			&:after
			{
				border-top-color: $green !important;
			}
		}

		figure
		{ 
			img
			{
				// @include cross-browser-grayscale(1, 1.8);
				// opacity: 0.6;
			}

			&:after 
			{
				// background: $green; 
				// opacity: 0.8;
			}
		}

		&:hover
		{
			/* figure:after, h3, .text
			{
				opacity: 0;
			} */

			img
			{
				@include cross-browser-grayscale(0, 1);
				opacity: 1;
			}
		}
	} 

	@media (min-width: 1024px)
	{
		.article
		{
			figure:after, h3, .text
			{
				// @extend .animated-fast; // doesn't work within media queries
				transition: all ease 0.4s;
				opacity: 1;
			}

			.content
			{
				a:hover
				{
					background: $green !important;
				}
			}

			figure
			{ 
				img
				{
					@include cross-browser-grayscale(1, 1.8);
					opacity: 0.6;
				}

				&:after 
				{
					background: $green; 
					opacity: 0.8;
				}
			}

			&:hover
			{
				figure:after, h3, .text
				{
					opacity: 0;
				}
			}	 
		}
	}	

	.journal
	{
		background-color: $orange;
		color: $white;
		
		.content
		{
			&:after
			{
				border-top-color: $orange !important;
			}
		}

		figure
		{
			img
			{
				@include cross-browser-grayscale(1, 1.8);
				opacity: 0.3;
			}

			&:after 
			{
				opacity: 0.6; 
				background: $orange; 
			}
		}	
	} 

	.tweet
	{
		// background-color: $twitter-blue;
		// figure:after { background: $twitter-blue; }

		color: $twitter-blue;

		.content
		{
			&:after
			{
				// border-top: $unit*1.5 solid $bg-color !important;
			}
		}	
	}